
body{
    background-color: rgb(53, 53, 53);
    font-family: 'VT323', monospace;
    text-align: center;
    background-color: black;
    margin: 0px;
    background-image:url(https://i.pinimg.com/originals/9a/2a/a3/9a2aa3ccba5c3bce83e2e3f0a607c147.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}
#tlemsg{
    text-transform: uppercase;
    font-size: 48px;
    font-weight: normal;
}
#titlescreen{
    margin-top: 10px;
    margin-bottom: 200px;
}
.container
{
    width: 600px;
    height: 267px;
    margin:auto;
    background:transparent;
    color: #ffffff;
    border: 2px solid rgba(255, 255, 255, .5);
    backdrop-filter: blur(20px);
    padding: 25px;
    border-radius: 15px;
    font-family: 'VT323', monospace;
    font-size: larger;
    letter-spacing: 3px;
    font-weight: bold;
    text-align: center;
}
h1{
    color: #ffffff;
}
p{ 
    color: #ffffff;

}
#pic{
    border-radius: 15px;
    border: black;
    
}

a{
    color: black;
    text-decoration: none;
}


iframe{
    margin: none;
}
.navbar{
    display: flex;
    align-items: center;
    height: 12%;
}
.logo{
    width: 40px;
    cursor: pointer;
}
nav{
    flex: 1;
    text-align: right;
}
.contin{
    padding-left: 8%;
    padding-right: 8%;
    margin-top: 1%;
    margin-bottom: 3%;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
nav ul a{
    display: inline-block;
    font-family:'VT323', monospace;
    list-style: none;
    margin-left: 60px;
    text-decoration: none;
    color: #ffffff;
    font-size: 30px;
}
nav ul a:hover{
    transition: 1s;
    cursor: pointer;
    color: #929292;
}
.album{
    align-items: center;
    font-family:'VT323', monospace;
    font-size: larger;
    letter-spacing: 2px;
}
#inalbum{
    display: inline-block;
    flex-basis: 20%;
}
.pictures{
    width: 250px;
    height: 250px;
    margin: 50px;
    border-radius: 10%;
}
.pictures:hover{
    transition: 1.3s;
    scale: 1.8;
}

.headsec{
    letter-spacing: 5px;
    font-size: xx-large;
    text-align: center;
}
.aboutsec{
    text-align: center;
    margin-left: 90px;
    margin-right: 90px;
    font-size: xx-large;
    text-align: justify;
    
}
.mapsection{
    text-align: center;

}
.aboutcontain{
    /* background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/60f9e42d-32ed-4188-bffb-ec982da5633f/dd27two-f32db991-5253-4460-9ad1-d5d5435af8b6.jpg/v1/fill/w_1280,h_509,q_75,strp/undertale_underscape_midnight_stars_by_monotimewolf_dd27two-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTA5IiwicGF0aCI6IlwvZlwvNjBmOWU0MmQtMzJlZC00MTg4LWJmZmItZWM5ODJkYTU2MzNmXC9kZDI3dHdvLWYzMmRiOTkxLTUyNTMtNDQ2MC05YWQxLWQ1ZDU0MzVhZjhiNi5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.dI5zTSXaiEpZTiZshtHlWACvZPex_VQ09bYq-0P-aYg); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#myPfp{
    border-radius: 10px;
}